
.navbar {
  background-color: #004C66;
  display: block;
  /*border-bottom: 1px solid red;*/
  text-align: center;
  height: 45px;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline;
  margin-left: 35px;
  margin-right: 35px;
}

.navbar a {
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  color: #E0E0EB;
  text-decoration: none;
}

.container_wrapper {
  /*background-image: url("https://lh3.googleusercontent.com/-s4zLGwmGAV8/VNb2kmlvU6I/AAAAAAAABAY/YRI-Jj_CyQw/w791-h593-no/IMG_5088.JPG");*/
  border: 1px solid gray;
  max-width: 100%;
  margin: 0 auto;
}

.container_wrapper #title {
  margin-left: 50px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 60px;
}

.container {
  background-color: white;
  border: 1px solid gray;
  max-width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feed{
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

.login {
  border: 1px solid gray;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}

#required_star {
  color: #CC0000;
}

.profile_info {
  width: 87%;
  border: 1px solid #CCC;
  margin: 0 auto;
  margin-bottom: 25px;
}

#post_count td {
  border: 1px solid #ccc;
  text-align: center;
  width: 60px;
}

#edit_icons td {
  width: 123px;
  text-align: center;
}

#edit_icons a {
  margin-left: 15px;
  margin-right: 15px;
}

.albums_container {
  width: 87%;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 30px;
}

.error {
  text-align: center;
  /*margin: 0 auto;*/
}