/*--- NAVBAR ---*/
.navbar {
  background-color: #525252;
  /*#005C7A;*/
  /*#004C66;*/
  display: block;
  text-align: center;
  height: 45px;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline;
  margin-left: 35px;
  margin-right: 35px;
}

.navbar a {
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  color: #E0E0EB;
  text-decoration: none;
}

/*--- WRAPPER OF MAIN BODY OF CONTENT (not including navbar) ---*/

.container_wrapper {
  border: 1px solid gray;
  max-width: 100%;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.container_wrapper #title {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Stalemate', cursive;
  color:  #934A6E;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-size: 80px;
}

/*---  ---*/

.container {
  background-color: #F0F0F0;
  border: 2px #A1A1A1;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

/*--- In both Registration page when logged in as well as profile page ---*/

.feed_index {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  /*so that feed has room between container border*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.feed_index img {
  width: 600px;
}

.feed_caption {
  text-align: left;
  padding-left: 20px;
  /*border: 1px solid #ccc;*/
}

.tagline {
  font-size: smaller;
}

.tag {
  text-decoration: underline;
}

/*--- Registration form in index ---*/

#registration {
  margin: 0 auto;
  width: 50%;
  padding-bottom: 40px;
}

form {
  width: 80%;
  margin: 0 auto;
}

label, input {
  display: inline-block;
}

label {
  width: 30%;
  margin-bottom: 10px;
}

/*--- LOGIN.ERB ---*/

.login {
  /*border: 1px solid gray;*/
  width: 50%;
  margin-bottom: 50px;
  padding-bottom: 40px;
  margin: 0 auto;
}

/*--- INDEX.ERB ---*/

#required_star {
  color: #CC0000;
}

/*--- PROFILE.ERB ---*/

#profile_bar {
  display: block;
  border: 1px solid #CCC;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 25px;
}

#profile_bar ul {
  margin: 0;
}

#profile_bar li {
  display: inline-block;
/*  margin-left: 35px;
  margin-right: 35px;*/
}

.profile_info {
  /*width: 87%;*/
  width: 500px;
  /*border: 1px solid #CCC;*/
  /*margin: 0 auto;*/
  margin-left: 30px;
  margin-bottom: 25px;
  position: relative;
  top: 10px;
}

.user_photo img {
  height: 150px;
  position: relative;
  top: 23px;
}

.profile_feed_index {

}

.profile_feed_caption {

}

#post_count td {
  border: 1px solid #ccc;
  text-align: center;
  width: 60px;
  background-color:
}

#profile_icons td {
  width: 123px;
  text-align: center;
}

#profile_icons a {
  margin-left: 5px;
  margin-right: 5px;
}

#profile_icons img {
  height: 26px;
}

/*--- ADD_PHOTO.ERB ---*/

#add_photo {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}

/*--- EDIT_ACCOUNT.ERB ---*/

#edit_profile {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}

/*--- DELETE_ACCOUNT.ERB ---*/

#delete_profile {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 40px;
}

/*--- where?? ---*/

.photos_container {
  width: 87%;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 20px;
  /*padding-bottom: 30px;*/
}

.b {
  font-weight: bolder;
}

/*--- ERROR PAGE :) ---*/

.error {
  text-align: center;
  /*margin: 0 auto;*/
}

