/*--- NAVBAR ---*/
.navbar {
  background-color: #525252;
  /*#005C7A;*/
  /*#004C66;*/
  display: block;
  text-align: center;
  height: 45px;
}

.navbar ul {
  margin: 0;
}

.navbar li {
  display: inline;
  margin-left: 35px;
  margin-right: 35px;
}

.navbar a {
  margin-top: 5px;
  display: inline-block;
  padding: 10px;
  color: #E0E0EB;
  text-decoration: none;
}

/*--- WRAPPER OF MAIN BODY OF CONTENT (not including navbar) ---*/

.container_wrapper {
  border: 1px solid gray;
  max-width: 100%;
  margin: 0 auto;
}

.container_wrapper #title {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: 'Stalemate', cursive;
  color:  #934A6E;
  /*font-family: 'Berkshire Swash', cursive;*/
  font-size: 80px;
}

/*---  ---*/

.container {
  background-color: #F0F0F0;
  border: 2px #A1A1A1;
  max-width: 90%;
  margin: 0 auto;
  padding-top: 25px;
  margin-bottom: 50px;
}

/*--- INDEX ---*/

.feed_index {
  width: 600px;
  text-align: center;
  margin: 0 auto;
  border: 1px solid #ccc;
  background-color: #E6E6E6;
}

.feed_index .img {
  width: 600px;
}

.feed_caption {
  text-align: left;
  margin-left: 10px;
  margin-left: 20px;
}

.tagline {
  font-size: smaller;
}

.tag {
  text-decoration: underline;
}

/*--- LOGIN.ERB ---*/

.login {
  border: 1px solid gray;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}

/*--- INDEX.ERB ---*/

#required_star {
  color: #CC0000;
}

/*--- PROFILE.ERB ---*/

.profile_info {
  width: 87%;
  border: 1px solid #CCC;
  margin: 0 auto;
  margin-bottom: 25px;
}

.profile_feed_index {

}

.profile_feed_caption {

}

#post_count td {
  border: 1px solid #ccc;
  text-align: center;
  width: 60px;
}

#profile_icons td {
  width: 123px;
  text-align: center;
}

#profile_icons a {
  margin-left: 15px;
  margin-right: 15px;
}

/*--- where?? ---*/

.photos_container {
  width: 87%;
  border: 1px solid #ccc;
  margin: 0 auto;
  margin-bottom: 30px;
}

.b {
  font-weight: bolder;
}

/*--- ERROR PAGE :) ---*/

.error {
  text-align: center;
  /*margin: 0 auto;*/
}

