<div class="error">
  <h1>"Oops! There's nothing to see here."</h1>
  <h3>"Here's a cat in a shark costume on a roomba, chillin' with a duck for funsies."</h3>
  <img src="http://www.cutecatgifs.com/wp-content/uploads/2013/08/shark-attack.gif" />
</div>