<div class="container">

  <% if session_logged_in? %>
    <% @photos.each do |photo| %>
      <div class="feed_index">
        <img class="img" src="<%= photo.url %>" />
        <div class="feed_caption">
          <p><span class="b"><%= photo.user.username %></span>
            <%= photo.description %></p>
        </div>
      </div>
      <br><br>
    <% end %>
  <% else %>

  <h1>Registration</h1><br>
    <% if @errors != nil %>
      <% @errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>
    <form action="/" method="post">
      First Name: <input type="text" name="first_name"><br>
      Last Name: <input type="text" name="last_name"><br>
      Username: <input type="text" name="username"><span id="required_star">*</span><br>
      Email: <input type="email" name="email"><span id="required_star">*</span><br>
      Password: <input type="password" name="password"><span id="required_star">*</span><br>
      <input type="submit" value="Submit">
    </form>

  <% end %>
</div>
