<div class="login">
  <h1>Registration</h1><br>
  <form action="/accounts/login" method="post">
    Email: <input type="email" name="email"><span id="required_star">*</span><br>
    Password: <input type="password" name="password"><span id="required_star">*</span><br>
    <input type="submit" value="Submit">
  </form>
</div>

