<div class="container">
  <div class="login">
    <h1>Log in</h1><br>
      <% if @error %>
          <p><%= @error %></p>
      <% end %>
    <form action="/accounts/login" method="post">
      <label>Email:</label>
      <input type="email" name="email"><span id="required_star">*</span><br>
      <label>Password:</label>
      <input type="password" name="password"><span id="required_star">*</span><br>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>

